.tree-view {
    display: flex;
  }
  
  .input-search,
  .button-sort {
    padding: 8px;
    margin-right: 8px;
    cursor: pointer;
  }
  
  .node {
    cursor: pointer;
    padding: 8px;
    margin-bottom: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .selected-node {
    background-color: #3498db;
    color: #fff;
  }
  
  .node-with-children {
    margin-left: 16px;
  }
  
  .details {
    flex: 1;
    margin-left: 16px;
  }
  
  .children-list {
    list-style-type: none;
    padding: 0;
  }
  
  .loading {
    font-style: italic;
  }
  