.main-page-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 300px;
    text-align: center;
  }
  
  .main-heading {
    margin-bottom: 20px;
  }
  
  .info-message {
    margin-bottom: 20px;
  }
  
  .login-button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  